.box {
  background: #ff0000;
  width: 40px;
  height: 40px;
  position: absolute;
  border-radius: 50%;
  left: 50vw;
  bottom: 30vh;
  transform: translate(-50%, 0);

  &:after {
    content: '';
    width: 15px;
    height: 15px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}