.game-level-objects {
  height: 70vh;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  width: 300%;
  transition: .1s transform linear;
}

.test-object {
  position: absolute;
  display: flex;

  &-1 {
    left: 55vw;
    top: 85%;
  }

  &-2 {
    left: 70vw;
    top: 85%;
  }

}